:root {
  --blue-light: rgb(55, 80, 133);
  --blue-dark: rgb(13, 34, 129);
  --border-radius1: 2rem;
  --border-radius-small: 10px;
  --gray-shade1: rgb(241, 241, 241);
}

ul {
  padding: 0;
  margin: 0;
}

p {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  color: rgb(255, 255, 255) !important;
}

home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  background-position: center;
  background-size: cover;
}

.col {
  /* border: 2px solid; */
}

.hamburger {
  display: none;
}

#nav-icon1 {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--blue-dark);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: 0.5s;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: 0.5s;
}

.dashboard {
  display: flex;
  // background-color: var(--gray-shade1);

  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-color: #000;
  background-position: center;
}

.profile-column {
  padding: 1rem 0;
  position: fixed !important;
  // background-color: var(--blue-dark);
  background: rgba(255, 255, 255, 0.207);
  backdrop-filter: blur(8px);
  width: 100px !important;
  height: calc(100vh);
  left: 0;
  transition: 0.3s;
}

.responsive-container {
  display: flex;
  padding: 0;
  width: calc(100%-#{100px}) !important;
  margin-left: 100px !important;
  transition: 0.3s;
}

.middlebar {
  width: calc(100%-#{600px}) !important;
  min-height: calc(100vh);
  transition: 0.3s;
}

.rightbar {
  width: 500px !important;
  height: calc(110vh);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.profile {
  border-radius: 100%;
  height: 50px;
  width: 50px !important;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}

.profile a {
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}

.navoptions li {
  list-style: none;
}

.navoptions li i {
  padding: 15px 0;
}

.navoptions i.active {
  background-color: rgb(226, 232, 48);
  border-radius: 50%;
  padding: 15px 30px;
  margin-left: 5px;
  color: black;
}

.navoptions li.active i {
  color: black;
}

.navoptions li i:hover {
  background-color: rgb(226, 232, 48);
  color: black;

  padding: 15px 30px;
  border-radius: 50%;
}

.navoptions i {
  color: white;
  font-size: larger;
}

.profile-column {
  display: flex;
  flex-direction: column;
  border-radius: 0 2rem 2rem 0;
}

.row {
  padding: 0;
  margin: 0;
}

.row-top {
  height: 50%;
}

.row-bottom {
  height: 50%;
  align-items: end;
}

.profile img {
  height: 64px;
  width: 100%;
  border-radius: 50%;
}

.middle-column {
  background-color: rgb(220, 220, 220);
}
.home {
  form {
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: white;
  }
}
form i {
  align-content: center;
  color: var(--gray-shade1);
}

.round-cards {
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(8px);
  border-radius: var(--border-radius-small);
  padding: 2px;
}

.round-cards-blue {
  background-color: var(--blue-dark);
  border-radius: var(--border-radius-small);
  padding: 2px;
  color: white;
  border: 2px solid;
}

.form-control {
  font-size: medium;
  background: rgba(242, 242, 242, 0.5);
  backdrop-filter: blur(8px);
}

.filter-button {
  font-size: x-small;
  margin: 0.5rem 0;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: var(--blue-dark);
  display: flex;
}

button i {
  margin: 2px;
  color: var(--blue-dark);
}

.notification {
  display: flex;
  justify-content: end;
}

.notification-button {
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: white;
}

.all-summary {
  background-color: white;
  border-radius: var(--border-radius-small);
  margin: 0.9rem;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.small-grey {
  font-size: small;
}

.monthly-balance {
  background-color: var(--blue-dark);
  color: white;
  border-radius: var(--border-radius-small);
  margin: 0.9rem;
}

.send-money-button {
  display: flex;
  justify-content: center;
}

.fa-pie-chart {
  color: green;
  padding: 0.5rem;
}

.background-effect {
  background-color: var(--gray-shade1);
  border-radius: 50%;
  padding: 5px 14px;
}

.company-cards {
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(8px);
  border-radius: var(--border-radius-small);
}

.company-card-style1 {
  font-size: small;
}

.company-card-style2 {
  font-size: small;
  color: rgb(122, 250, 122);
}

/* right-sidebar */

.img {
  width: 130px;
  padding-top: 6px;
  height: auto;
  object-fit: cover;
}

.transaction-item {
  margin-bottom: 10px;
}

.right-div {
  display: flex;
  align-content: flex-start;
}

.left-div {
  align-items: left;
}

.fa {
  border: 2px solid transparent;
  border-radius: 50%;
}

.transaction-icon {
  padding: 5px 14px;
  border-radius: 50%;
  background-color: skyblue;
  font-size: 12px;
}

.left {
  margin-left: -10px;
}

.paypal {
  font-size: small;
  font-weight: 500;
}

.increment {
  color: rgb(208, 53, 53);
  font-size: small;
  float: right;
}

.img-container {
  display: flex;
}

.img-container img {
  border: 4px solid white;
  width: 250px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

.slide .profile-column {
  left: -100px;
  transition: 0.3s;
}

.slide .responsive-container {
  margin-left: 0;
  transition: 0.3s;
}

.slide-button i {
  font-size: larger;
}

.filter-button-mobile {
  display: none;
}

.logoutButton {
  border-radius: 50%;
  height: 60px;
  width: 60% !important;
  font-size: 10px;
  padding-left: 11.5px !important ;
}

@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
  }

  .hide {
    left: -100px;
  }

  .hide .responsive-container {
    margin-left: 0;
  }

  .slide .responsive-container {
    margin-left: 90px;
  }

  .slide .profile-column {
    left: 0;
  }
}

@media screen and (max-width: 1080px) {
  .responsive-container {
    flex-direction: column;
    width: calc(100%-#{90px});
    margin-left: 90px;
  }

  .profile-column {
    width: 90px;
  }

  .middlebar {
    margin-left: 0;
    min-height: 50vh;
  }

  .rightbar {
    width: 100%;
    height: 100vh;
    background-color: var(--gray-shade1);
    margin-left: 0;
    padding-left: 2rem;
  }

  .profile-column {
    height: 100%;
  }

  .hide .profile-column {
    left: -100px;
  }

  .hide .responsive-container {
    margin-left: 0;
  }

  .slide .responsive-container {
    margin-left: 90px;
  }

  .slide .profile-column {
    left: 0;
  }

  .left {
    margin-left: -6vw;
  }
}

@media screen and (max-width: 768px) {
  .slide .responsive-container {
    width: 85%;
  }

  .profile-column {
    width: 80px;
  }

  .hamburger {
    padding-top: 35px !important;
  }

  .row > * {
    /* border: 2px solid; */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .send-money .h6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .send-money-heading {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .slide-button {
    padding-top: 20px;
  }

  .left {
    margin-left: -5vw;
  }
}

@media screen and (max-width: 700px) {
  .filter-button {
    display: none;
    padding: 0;
  }

  .form-control {
    font-size: 15px;
  }

  form i {
    color: black;
  }

  .filter-button-mobile {
    font-size: x-small;
    margin: 0.5rem 0;
    border: none;
    border-radius: 10px;
    color: var(--blue-dark);
    display: flex;
  }

  .hamburger {
    padding-top: 30px !important;
  }

  .notification-button {
    padding: 5px;
  }

  .left {
    margin-left: -3vw;
  }

  #nav-icon1 {
    width: 30px;
  }

  #nav-icon1 span {
    height: 4px;
    width: 100%;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 11px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 22px;
  }
}

@media screen and (max-width: 500px) {
  .slide .responsive-container {
    width: 80%;
  }

  .profile-column {
    width: 75px;
  }

  .slide .middlebar {
    padding-left: 0px;
  }

  .slide .rightbar {
    padding-left: 12px;
  }
}

@media screen and (max-width: 460px) {
  .slide .responsive-container {
    width: 76%;
  }

  .form-control {
    font-size: 10px;
  }

  form i {
    color: black;
  }

  .slide .img-container img {
    height: 210px;
    width: 95%;
  }

  .img-container img {
    border: 4px solid white;
    height: 210px;
    width: 95%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
  }

  .left {
    margin-left: -1.2vh;
  }
}
@media screen and (max-width: 400px) {
  .rightbar {
    height: 130vh;
  }
}
